<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-treeview/1.4.2/jquery.treeview.min.js"></script> -->

  <link rel="stylesheet" href="css/jquery.treeview.css" />
  <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.js"></script> -->
  <script src="js/jquery.treeview.js" type="text/javascript"></script>
  <title>Document</title>
  <link rel="stylesheet" href="css/adminMainPage.css">
</head>
<body>
  <aside id="aside">
    <h2>중앙정보 대학교</h2>
    <br>
    <h3>관리자 페이지</h3>
    <br>
    <nav id="nav">
      <div class="category">
        <ul id="tree">
          <li><span>학생 관리</span>
            <ul>
              <li><span id="mvnAply">학생 입주 정보 조회</span></li>
              <li><span id="obAndEarlyConfirm">외박 및 퇴실 신청 조회</span></li>
              <li><span id="penaltySelect">벌점 내역 조회</span></li>
              
            </ul>
            <li><span>호실 관리</span>
              <ul>
                  <li><span id="dayManage">호실정보 관리</span></li>
                    <li><span>남자관</span>
                      <ul>
                        <li><span id="Afloor">1층</span></li>
                        <li><span id="Afloor2">2층</span></li>
                        <li><span id="Afloor3">3층</span></li>
                      </ul>
                    </li>

                    <li><span>여자관</span>
                      <ul>
                        <li><span id="Bfloor">1층</span></li>
                        <li><span id="Bfloor2">2층</span></li>
                        <li><span id="Bfloor3">3층</span></li>
                      </ul>
                    </li>
              </ul>
            </li>
            <li><span>게시판 관리</span>
              <ul>
              <li><span id="suggestInquiry">게시물 내역</span></li>
              <li><span>기상송 조회</span></li>
              </ul>
            </li>
        </ul>
      </div>
    </nav>
  </aside>
  <iframe id="main" src="mvnAplySelect.html" style="border:none;">
  </iframe>
  <script src="js/adminMainPage.js"></script>


  
</body>

</html>
