<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.domitory.user.service.UserMapper">
	<insert id="stud_join">

		insert into student(stud_no,
		stud_pw,
		role,
		user_nm,
		gndr_nm,
		snths_scr,
		stud_gr,
		stud_pn,
		mj,
		stud_ad)
		values (#{stud_no},
		#{stud_pw},
		#{role},
		#{user_nm},
		#{gndr_nm},
		#{snths_scr},
		#{stud_gr},
		#{stud_pn},
		#{mj},
		#{stud_ad})

	</insert>
	<insert id="user_student">

		insert into user(user_id,
		user_pw,
		role,
		stud_no)
		values (#{user_id},
		#{user_pw},
		#{role},
		#{stud_no})

	</insert>
	<insert id="admin_join">

		insert into admin(admin_no,
		admin_pw,
		role,
		admin_nm,
		admin_pn)
		values (#{admin_no},
		#{admin_pw},
		#{role},
		#{admin_nm},
		#{admin_pn})

	</insert>
	<insert id="user_admin">

		insert into user(user_id,
		user_pw,
		role,
		admin_no)
		values (#{admin_no},
		#{user_pw},
		#{role},
		#{admin_no})

	</insert>

	<select id="login" resultType="UserVO">
		select * from user where user_id = #{user_id}
	</select>

	<update id="loginCheck1">
		update user set
		login_date = now()
		where user_id = #{user_id}
	</update>
	
	<update id="loginCheck2">
		update user set
		login_tc = 0
		where user_id = #{user_id}
	</update>



	<update id="update">
		update student set user_pw = #{user_pw}
		,role = #{role}
		,snths_scr = #{snths_scr}
		,stud_gr = #{stud_gr}
		,pn_pnt = #{pn_pnt}
		where user_id = #{user_id}
	</update>
</mapper>
  