<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{margin: 0 auto;}

</style>
<body>
    <table border="1"  style="text-align: center; border: none; margin-top: 20px;">

        <h3 style="text-align: center; margin-top: 20px; margin-bottom: 20px;">공지사항</h3>
        <hr>
        <tr>
            <th>번호</th>
            <th>제목</th>
        </tr>
        <tr>
            <th>1번글</th>
            <th>공지사항입니다 아아아아아아아아</th>
            <th style="border: none;"><button style="height: 100%; width: 50%; cursor: pointer;">수정하기</button><button style="height: 100%; width: 50%; cursor: pointer;">삭제하기</button></th>
        </tr>
            
    </table>
</body>
</html>

