<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/user_find.css">
    <style>

    </style>
</head>

<body>
    <div>
        <p style="font-size: 40px; text-align: center; margin-top: 100px; font-weight: 700; color: #001d66; letter-spacing: 0.3em;">중정대학교 기숙사</p>
    </div>
    <div class="popupFind">
        <!-- 첫번째 -->
        <ul class="findHeader">
            <li><a href="/user/user_findID" style="background-color:  rgba(255, 255, 255, 0.5);">아이디찾기</a></li>
            <li><a class="on"  style="background-color:  rgba(255, 255, 255, 0.836);">비밀번호찾기</a></li>
        </ul>

        <div class="contents">
            <form action="" method="post">
                <div class="text_input">
                    <input  type="text" name="" placeholder="학번을 입력하세요" required>
                    <input  type="text" name="" placeholder="연락처를 입력하세요" required>
                </div>
                <div class="submitBox">
                    <input type="submit" id ="submit" value="찾기"></input>
                </div>
            </form>

        </div>


    </div>
</body>

<script>
    var on = document.querySelector("on");



</script>

</html>