<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="student_main.css">

</head>
<body>
    
    <div class="footer">
        <div class="f_uniname">
            <h1>중정대학생활관</h1>
        </div>


        <div class="f_textbox">
            <div class="f_textboxinner">
                <h3>관생관리</h3>
                <hr>
                <p>관리자 및 담당자 비상연락처 기재</p>
            </div>

            <div class="f_textboxinner">
                <h3>납부관리</h3>
                <hr>
                <p>관리자 및 담당자 비상연락처 기재</p>
            </div>

            <div class="f_adress"><p>(00000) 서울특별시 강남구 강남대로 어쪼고</p></div>
        </div>


    </div>
</body>
</html>